<!DOCTYPE html>
<html>
    <head>
        <title>관리자 유저 목록</title>
    </head>
    <body>
        <h1>(관리자) 유저 목록(<%= page %> / <%= max_page %>)</h1>
        <a href="/admin">돌아가기</a>
        <form method="GET" action="/admin/users">
            <input type="text" name="query">
            <input type="submit" value="검색">
        </form>
        <hr>
        <% for(var user of users) { %>
            <%= user.id %><br>
            <%= user.created_at %>
            <a href="/admin/user/<%= user.id %>/delete">삭제하기</a><br>
            <br>
        <% } %>
        
        <% for(var i=-5; i<5; i++) { %>
            <% 
                var p = page + i;
                if(p <= 0 || p > max_page)
                    continue;
            %>

            <% if(i != 0) { %>
                <a href="/admin/users/<%= p %>"><%= p %></a>
            <% } else { %>
                <%= p %>
            <% } %>
            &nbsp;
        <% } %><br>
        <% if(page > 1){ %>
        <a href="/admin/users/<%= page - 1%>">이전 페이지</a>
        <% } %>
        <% if(page < max_page){ %>
        <a href="/admin/users/<%= page + 1%>">다음 페이지</a>
        <% } %>

    </body>
</html>